html {
  font-size: 18px;
}

header {
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 8rem;
}

.main-bar {
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
}

.logo img {
  height: 1.5rem;
  margin-top: .75rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul {

}

nav ul li {
  display: inline-block;
  list-style-type: none;
}
